@import "https://fonts.googleapis.com/css?family=Merriweather|Open+Sans";

$main-font: "Open sans", sans-serif;
$header-font: "Merriweather", serif;
$orange: #f39c12;
$grayish: #ecf0f1;
$asphalt: #34495e;
$silver: #bdc3c7;

body {
	font-family: $main-font;
	background-color: #ecf0f1;
	margin: 0;
	padding: 0;
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

h1, h2 {
	font-family: $header-font;
	color: $orange;
}

button {
	background-color: $asphalt;
	padding: 10px 5px;
	border: none;
	color: white;
	font-weight: bold;
	width: 30%;
	margin-top: 2rem;
}

input {
	padding: 15px 20px;
	border: none;
	width: 70%;
}
